body{
    margin: 0;
    padding: 0;
    background-color:linear-gradient(45deg,rgb(62, 20, 226),green);
}
img{
    width:900px; height:500px;
}
button{
    width:150px;
    height:40px;
    font-size:20px;
    margin:20px;
    cursor:pointer;
}
button a{
    text-decoration:none;
}
.Images{
    display:flex;
    justify-content:center;
}
.buttons{
    display:flex;
    justify-content:center;
   
}

/* .fadeinimg{
    animation:fadein 2s;
}

@keyframes fadein {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
} */